*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url(images.jpg);
    background-size: cover;
    font-family: sans-serif;
}

nav{
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    height: 120px;
    width: 260px;
    display: flex;
    margin-left: -265px;
    margin-top: 25px;
}

.menu{
    display: inline-block;
}

.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 28px;
    font-size: 20px;
    position: relative;
    left: 290px;
    top: 10px;
}

.menu a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid rgb(244, 0, 0);
    transition: 0.4x linear;
}

.menu a:hover:before{
    width: 90%;
}

.register{
    display: inline-block;
}

.register a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    background: rgb(244, 0, 0);
    border-radius: 8px;
    transition: 0.4s;
    position: relative;
    left: 130px;
    top: 10px;
}

.register a:hover{
    background: transparent;
    border: 1px solid rgb(244, 0, 0);
}

.h-text{
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}

.h-text span{
    letter-spacing: 5px;
}

.h-text h1{
    font-size: 3.5em;
}

.h-text a{
    text-decoration: none;
    background-color: rgb(244, 0, 0);
    color: white;
    padding: 10px 20px;
    letter-spacing: 5px;
    transition: 0.4s;
}

.h-text a:hover{
    background: transparent;
    border: 1px solid rgb(244, 0, 0);
}